<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/0538716759.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'timeline.css' %}">
  <style>
    .title-intro {
      padding-top: 115px;
    }

    .title-image {
      padding-top: 100px;
    }

    .nav-item {
      margin-right: 7px;
    }

    .nav .nav-item .nav-link {
      color: black;
      background-color: white;
    }

    .nav .nav-item .nav-link.active {
      color: white;
      background-color: rgb(33, 37, 41);
    }

    .customUnderline {
      width: 35px;
      height: 2px;
      background: #00aeef;
    }

    .stack-card {
      width: 13rem;
    }

    .handlelinks {
      background-color: rgb(33, 37, 41);
    }

    .handlelinks i {
      color: white;
    }

    .handlelinks:hover i {
      color: #F2BB13;
    }

    #experiencecompany{
      display:inline;
      color: #1B9AAA;
      padding-left: 1rem;
    }
    
    #experienceperiod{
      display:inline;
      font-family: 'Courier New', Courier, monospace;
      float: right;
      margin: 0px;
    }

    #experienceposition{
      color:#7BB2D9
    }

    #experiencedescription{
      font-size:large;
    }

    .milestone-object:nth-child(odd){
      background-color: #7BB2D9;
      color: rgb(33, 37, 41);
      font-size:medium;
    }

    @media only screen and (max-width: 600px) {
    #introtext {
    text-align: center;
    }
    .title-intro{
      padding-top: 0px;
    }
  }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Joyce Varghese
  </title>
  <link rel="icon" href="{% static 'navicon.jpeg' %}" type="image/x-icon">
</head>

<body data-bs-spy="scroll" data-bs-target="#navBar" data-bs-offset="0" tabindex="0">
  <section id="intro">
    <div class="container-fluid">
      <div class="row align-items-center" style="min-height:700px;">
        <div class="col-sm-5 title-image" style="text-align: center;">
          <img src="{% static 'logo.png' %}" width="320" height="200">
        </div>
        <div class="lead col-sm-7 title-intro" id="introtext">
          <b>👋Hi, I am </b>
          <h2>Joyce Varghese</h2>
          I am an awesome engineer who enjoys building quirky projects.
        </div>
      </div>
    </div>
  </section>
  <nav id="navBar" class="navbar navbar-expand-lg sticky-top bg-white"
    style="border-bottom: 2px solid rgb(33, 37, 41);">
    <div class="container-fluid">
      <a class="navbar-brand mx-3 text-dark" href="#intro">joycevarg</a>
      <div class="ms-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse w-100" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav nav-pills mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link"
              href="https://drive.google.com/file/d/1rveBCWETBFqbyNIQOTMW2gSzpAYXUbOk/view?usp=sharing"
              target="_blank">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#expertise">Expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <section id="experience">
      <div class="row py-3 text-white bg-dark d-none d-xl-flex">
        <div class="col-4" style="padding: 10rem;">
          <h2>Experience&</h2>
          <h1>Education</h1>
          <div class="customUnderline"></div>
        </div>
        <div class="col-8" style="padding-right: 0rem;">
          <ul class="timeline" style="padding-left: 0px;padding-right: 60px; margin-right: 0px;">
            {% for milestone in milestones %}
            <li class="timelinepoint" data-year={{milestone.time}} id="timelinepoint-{{forloop.counter0}}"></li>
            {% endfor %}
          </ul>
          <div id="experiencestack" class="container">
            <div class="row align-items-center">
              <div class="col px-2">
                <h1 id="experienceposition"></h1>
                <h3 id="experiencecompany"></h3>
                <h4 id="experienceperiod"></h4>
                <div id="experiencedescription"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 text-white bg-dark d-block d-xl-none">
        <div class="col" style="padding-right: 0;padding-left: 0;">
          <h2 style="text-align: center;padding-top: 1.5rem;">Experience & Education</h2>
          <div class="customUnderline mx-auto" style="margin-bottom: 1.5rem;"></div>
          {% for milestone in milestones %}
          <div class="milestone-object px-2 py-2">
            <div class="milestone-position">{{ milestone.position }}<span style="float: right;">[{{ milestone.period }}]</span></div>
            <div class="milestone-place">{{ milestone.place }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section id="expertise">
      <div class="row">
        <div class="col" style="text-align: center;padding-top: 5rem;">
          <h3>Technologies</h3>
          <div class="customUnderline mx-auto"></div>
          <div class="py-4">
            {% for logo in stackLogos %}
            <img src="{% static logo %}" class="mx-5 my-5 stack-card">
            {%endfor%}
          </div>
        </div>
      </div>
    </section>
    <section id="projects">
      <div class="row bg-dark text-white">
        <div class="d-none d-sm-block" style="padding: 4rem;">
          <h2 style="color: white;">Projects</h2>
          <div class="customUnderline"></div>
        </div>
        <div class="mobile-heading d-block d-sm-none" style="padding: 4rem;">
          <h2 style="color: white;text-align: center;">Projects</h2>
          <div class="customUnderline mx-auto"></div>
        </div>
        {% for project in projects %}
        <div class="col-lg-3 mb-3">
          <div class="card">
            <div class="card-body bg-dark">
              <h5 class="card-title">{{project.name}}</h5>
              <div class="card-subtitle my-1 text-muted" style="height: 25px;">
                <h6>
                  {% for tag in project.tags %}
                  <span class="badge" style="background-color:{{tag.bg}};color:{{tag.fg}}">{{tag.text}}</span>
                  {% endfor %}
                </h6>
              </div>
              <p class="card-text" style="height:100px">{{project.description}}</p>
              <div style="height: 38px;">
                {% for projectlink in project.links %}
                <a href="{{projectlink.link}}" target="_blank" class="card-link"><i
                    class="{{projectlink.icon}} py-1 px-auto" style="font-size:30px;"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="contact">
      <div class="row">
        <div class="col-12 my-5">
          <div style="text-align: center;">
            <h2>Hit me up</h2>
          </div>
          <div class="customUnderline mx-auto"></div>
        </div>
        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-md-3"></div>
            {% for profileLink in profileLinks %}
            <div class="col-6 col-md-1 mx-auto">
              <div class="handlelinks text-white mx-auto my-3"
                style="max-width: 57px; border-radius: 0.25rem;text-align: center;">
                <a href={{profileLink.link}} target="_blank"><i class="{{profileLink.icon}} py-2 px-auto"
                    style="font-size:36px;"></i></a>
              </div>
            </div>
            {% endfor %}
            <div class="col-md-3"></div>
          </div>
        </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
      target: '#navBar'
    })
    var milestones = {{ milestones| safe}};
    $('.timeline .timelinepoint').on('click', function () {
      $('#experiencecompany').html(milestones[$(this).index()].place);
      $("#experienceposition").html(milestones[$(this).index()].position);
      $("#experienceperiod").html('['+milestones[$(this).index()].period+']');
      $("#experiencedescription").html(milestones[$(this).index()].description);
      $('.timeline .timelinepoint').removeClass('active');
      $(this).addClass('active');
    });
    $(function () {
      $('#experiencecompany').html(milestones[0].place);
      $("#experienceposition").html(milestones[0].position);
      $("#experienceperiod").html('['+milestones[0].period+']');
      $("#experiencedescription").html(milestones[0].description);
      $('.timeline .timelinepoint').removeClass('active');
      $("#timelinepoint-0").addClass('active');
    });
  </script>
</body>

</html>